<h1><%= title %></h1>
<%- messages() %>
<% if (errors) { %>
    <ul class="notice"></ul>
    <% errors.array().forEach(error => {%>
        <li><%= error.msg %></li>
    <% }) %>
    </ul>
<% } %>

<form action="/inv/addInv" class="addInv" method="post">
    <fieldset>
        <label for="classificationList">Classification:</label><br>
        <%- classList %>
        <label for="inv_make">Make:</label><br>
        <input type="text" name="inv_make" id="inv_make" required value="<%= locals.inv_make %>"><br>
        <label for="inv_model">Model:</label><br>
        <input type="text" name="inv_model" id="inv_model" required value="<%= locals.inv_model %>"><br>
        <label for="inv_year">Year:</label><br>
        <input type="number" name="inv_year" id="inv_year" min="1885" max="2030" required value="<%= locals.inv_year %>"><br>
        <label for="inv_description">Description:</label><br>
        <textarea name="inv_description" id="inv_description" required><%= locals.inv_description %></textarea><br>
        <label for="inv_image">Image Path:</label><br>
        <input type="text" name="inv_image" id="inv_image" required value="/images/vehicles/no-image.png"><br>
        <label for="inv_thumbnail">Thumbnail Path:</label><br>
        <input type="text" name="inv_thumbnail" id="inv_thumbnail" required value="/images/vehicles/no-image-tn.png"><br>
        <label for="inv_price">Price:</label><br>
        <input type="number" name="inv_price" id="inv_price" required value="<%= locals.inv_price %>"><br>
        <label for="inv_miles">Miles:</label><br>
        <input type="number" name="inv_miles" id="inv_miles" required value="<%= locals.inv_miles %>"><br>
        <label for="inv_color">Color:</label><br>
        <input type="text" name="inv_color" id="inv_color" required value="<%= locals.inv_color %>"><br>
        <input type="submit" value="Add Vehicle">
    </fieldset>
</form>