<h1><%= title %></h1>
<%- messages() %>
<% if (errors) { %>
    <ul class="notice"></ul>
    <% errors.array().forEach(error => {%>
        <li><%= error.msg %></li>
    <% }) %>
    </ul>
<% } %>

<form action="/inv/delete" class="deleteInv" method="post">
    <fieldset>
        <p>Confirm Deletion - The delete is permanent.</p>
        <label for="inv_make">Make:</label><br>
        <input type="text" name="inv_make" id="inv_make" readonly required value="<%= locals.inv_make %>"><br>
        <label for="inv_model">Model:</label><br>
        <input type="text" name="inv_model" id="inv_model" readonly required value="<%= locals.inv_model %>"><br>
        <label for="inv_year">Year:</label><br>
        <input type="number" name="inv_year" id="inv_year" min="1885" max="2030" readonly required value="<%= locals.inv_year %>"><br>
        <label for="inv_price">Price:</label><br>
        <input type="number" name="inv_price" id="inv_price" readonly required value="<%= locals.inv_price %>"><br>
        <input type="submit" value="Delete Vehicle">
        <input type="hidden" name="inv_id"
        <% if (locals.inv_id) { %> value='<%= locals.inv_id %>'
        <% } %>>
    </fieldset>
</form>